<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <input
          #input
          type="text"
          class="form-control"
          placeholder="Buscar Hospital"
          (keyup)="buscarHospital(input.value)"
        />
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="cargando">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong> <br />
      <i class="fa fa-refresh fa-spin"></i> <br />
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button
            type="button"
            class="btn btn-rounded btn-primary align-items-end" (click)="crearHospital()"
          >
            Crear Hospital +
          </button>
        </div>
        <div class="card-title">
          <h3>
            Hospitales registrados(<small>{{ totalRegistro }}</small
            >)
          </h3>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Hospital</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hospital of hospitales">
              <td class="pointer">
                <img (click)="actualizarImagen(hospital)" style="width:400px;height:250px"
                
                  [src]="hospital.img | imagen: 'hospital'"
                />
              </td>

              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="hospital.nombre"
                  name="nombre"
                  id=""
                />
              </td>

              <button
                class="btn btn-primary"
                (click)="guardarHospital(hospital)"
              >
                <i class="fa fa-save"></i>
              </button>

              <button
                class="btn btn-danger"
                (click)="eliminarHospital(hospital)"
              >
                <i class="fa fa-trash-o"></i>
              </button>
            </tr>
          </tbody>
        </table>

     <!--    <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
          Anteriores
        </button>
        <button (click)="cambiarDesde(5)" class="btn btn-secondary">
          Siguiente
        </button>
      </div> -->
    </div>
  </div>
</div>
