#themecolors li .selector {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.imagen_mantenimiento {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.imagen-modal {
    width: 150px;
    height: 150px;
}

.w70 {
    width: 70px;
}

.fondo-negro {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.oculto {
    display: none;
}